a:link {
	color: #000001;
}
.sh {
	padding: 5px;
}
a:visited {
	color: #2b0079;
}
body {
	background-color: #aa9988;
	scrollbar-face-color: #B3B4C1; 
	scrollbar-shadow-color: #000000;
	scrollbar-highlight-color: #000000; 
	scrollbar-3dlight-color: #999999;
    scrollbar-darkshadow-color: #505050; 
	scrollbar-track-color: #9495a9;
	scrollbar-arrow-color: #cccccc;
}

a:hover {
	color: #2b0079;
}
a:active {
	color: #ff0000;
}
div.scroll {
	overflow: auto;
}

div.scroll_1 {
	overflow: auto;	
	height: 120px;	
	width: 188;
}

div.scroll_tree {
	background-color:#B3B4C1;
	overflow: auto;
	height: 100%;
	min-height: 100%;
	width: 257px;
	vertical-align:top;
	text-align:left;padding:0;margin:0;
}
